.tableContainer {
  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.table thead tr {
  text-align: left;
  cursor: pointer;
}

.table tr > *:first-child {
  position: relative;
}
.table tr > *:first-child:hover {
  color: #1976d2;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 250px;
}

.table input {
  max-width: 160px;
  padding: 4px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ddd;
}

.filter {
  margin-right: auto;
  padding: 8px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  border: 4px solid #ddd;
}
.filter:focus {
  border: 4px solid #1976d2;
}

.rowInfo {
  word-spacing: 4px;
}

.btnContainer {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.btnDefault {
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #ddd;
  padding: 8px 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btnDefault:hover {
  background-color: #ddd;
  color: #1976d2;
}
.btnDefault:disabled:hover {
  color: rgba(16, 16, 16, 0.3);
  background-color: transparent;
}

.btnAdd {
  margin-right: 12px;
  background-color: #1976d2;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin: 8px;
}

.btnDeleteSelected {
  max-width: 160px;
  font-size: 16px;
  border-radius: 10px;
  background: transparent;
  color: #1976d2;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #1976d2;
  padding: 10px;
}
.btnDeleteSelected:disabled {
  color: #ddd;
  border: 1px solid #ddd;
}
