* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 24px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
